%display_none {
  display: none;
}

%no_spacing {
  margin: 0;
  padding: 0;
}

%auto_side_margin {
  margin-left: auto;
  margin-right: auto;
}

@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin on-event {
  &:hover,
  &:active,
  &:focus {
      @content;
  }
}

@mixin with-events {
  &,
  &:hover,
  &:active,
  &:focus {
      @content;
  }
}

@mixin qualify($selector) {
  @at-root #{$selector + &} {
    @content;
  }
}

@mixin vendors($property, $value, $vendors) {
  #{$property}: $value;
  
  @each $vendor in $vendors {
    #{'-' + $vendor + '-' + $property}: $value;
  }
}

@mixin to_css_vars($mapping) {
  @each $name, $value in $mapping {
    #{'--' + $name}: $value;
  }
}

@mixin with-vendors($mapping, $vendors) {
  @each $property, $value in $mapping {
    #{$property}: $value;
    
    @each $vendor in $vendors {
      #{'-' + $vendor + '-' + $property}: $value;
    }
  }
}

@function css_var($name, $fallback: null) {
  @if ($fallback != null) {
    @return var(--#{$name}, $fallback);
  } @else {
    @return var(--#{$name});
  }
}

@function icon($name) {
  @return url("/assets/icons/#{$name}.svg");
}

@function image($name, $type: png) {
  @return url("/assets/images/#{$name}.#{$type}");
}

@function google_font($query) {
  @return url("https://fonts.googleapis.com/css?family=#{query}");
}
