* {
    @extend %no_spacing;
}

::-webkit-scrollbar {
    @extend %display_none;
}

html {
    @include size(100%);
    
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: css_var(default-font-family);
}

body {
    @include size(100%);
}

a {
    text-decoration: none;
}

#inner {
    @extend %auto_side_margin;
}

p {
    font-family: css_var(p-font-family);
}

/*
h1
h2
h3
h4
strong
em
p
blockquote
ul
li
code.language-
    .highlighter-rouge
div.highlight
pre.highlight
code
hr
a
img
table
thead
tr
th
tbody
dl
dt
dd
del
input.task-list-item-checkbox
sup
div.footnotes
ol
li#fn:1 
a.reversefootnote
*/
