* {
    @extend %no_spacing;
    font-weight: normal;
    letter-spacing: .15px;
}

::-webkit-scrollbar {
    @extend %display_none;
}

html {
    @include size(100%);
    
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: css_var(default-font-family);
}

body {
    @include size(100%);
    -webkit-text-size-adjust: 100%;
}

a {
    color: #268bd2;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

#inner {
    @extend %auto_side_margin;
    
    max-width: 1100px; /* TODO: media support */
}

br {
    @extend %no_select;
}

h1, h2, h3, h4 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .15);
    font-family: css_var(h1-font-family);
}

h1 {
    color: #303030;
}

h2 {
    color: #313131;
}

p {
    font-family: css_var(p-font-family);
    color: #515151;
    font-size: 20px;
    line-height: 1.5;
    text-shadow: 0.25px 0.25px 0.5px rgba(0, 0, 0, .6);
}

em {
    color: #9a9a9a;
}

::-moz-selection {
    background: #c8d4e1b3;
}

::selection {
    background: #c8d4e1b3;
}

/*
h1
h2
h3
h4
strong
em
p
blockquote
ul
li
code.language-
    .highlighter-rouge
div.highlight
pre.highlight
code
hr
a
img
table
thead
tr
th
tbody
dl
dt
dd
del
input.task-list-item-checkbox
sup
div.footnotes
ol
li#fn:1 
a.reversefootnote
*/
