%heading {
  hyphens: auto;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .15);
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  
  width: fit-content;
  margin-bottom: 2.2rem;
  
  &[id] {
    cursor: pointer;
  }
}

%text {
  color: #515151;
  font-size: 1.125rem;
  line-height: 1.5;
  text-shadow: 0.25px 0.25px 0.5px rgba(0, 0, 0, .6);
}

%list {
  width: fit-content;
  
  display: flex;
  gap: 10px;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  letter-spacing: .15px;
}

::selection {
  background: #6ba2dea1;
}

::-moz-selection {
  background: #6ba2dea1;
}

::-webkit-scrollbar {
  @extend %display_none;
}

html {
  @extend %full_size;

  scroll-behavior: smooth;
  font-family: "PT Serif", Georgia, "Times New Roman", serif;

  background: css_var(home-background);
}

body {
  @extend %full_size;
}

#inner {
  @extend %auto_side_margin;
  
  height: auto;
  min-height: 100% !important;
  max-width: 1340px;
  padding: 100px 140px;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, .15);
  
  @media (max-width: 500px) {
    padding: 10%;
    overflow-wrap: anywhere;
  }
}

h1 {
  @extend %heading;
  
  color: #303030;
  font-size: 3.56rem;
  
  @media (max-width: 500px) {
    font-size: 2.94rem;
  }
}

h2 {
  @extend %heading;
  
  color: #313131;
  font-size: 2.06rem;
}

h3 {
  @extend %heading;
}

h4 {
  @extend %heading;
}

h5 {
  @extend %heading;
}

h6 {
  @extend %heading;
}

p {
  @extend %text;
  
  margin-bottom: 5rem;
}

a {
  @extend %text;
  
  color: #268bd2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 10%;
  }
}

strong {
  @extend %text;
}

ins {
  text-shadow: unset;
}

br {
  @extend %no_select;
}

em {
  @extend %text;
  
  color: #9a9a9a;
}

blockquote {
}

ol {
  @extend %list;
}

ul {
  @extend %list;
  
  list-style-type: '─';
}

li {
  @extend %text;
  
  width: fit-content;
}

code {
  @extend %text;
}

div.language-plaintext.highlighter-rouge {
  div.highlight {
    pre.highlight {
      code {}
    }
  }
}

hr {}
img {
  @extend %no_select;
}

table {
  thead {
    tr {
      th {
        @extend %text;
      }
    }
  }
  tbody {
    tr {
      td {
        @extend %text;
      }
    }
  }
}

dl {
  dt {
    @extend %text;
  }
  dd {
    @extend %text;
  }
}

del {
  @extend %text;
}

ul.task-list {
  li.task-list {
    input.task-list-item-checkbox {}
  }
}

sup {
  a.footnote {}
}

div.footnotes {
  ol {
    p {
      a.reversefootnote {}
    }
  }
}
