#download-section {
  @extend %no_select;
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  margin-top: 10px;
  
  @media (max-width: 768px) {
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  a {
    color: white;
    font-weight: bold;
    letter-spacing: 1.5px;
    
    height: 45px;
    width: fit-content;
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 30px;
    border-radius: 10px;
    background: css_var(download-button);
    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, .5);
    transition: all .2s ease-in-out;

    &:hover {
      text-decoration: none;
      transform: scale(1.05);
    }
    
    img {
      filter: brightness(0) invert(1);
    }
  }
}
