#home {
  #inner {
    gap: 0;
    padding: 100px;
    box-shadow: none;
    background: unset;
    justify-content: center;
    
    @media (max-width: 768px) {
      padding: 10%;
    }
  }
  
  h1 {
    margin-bottom: 1.1rem;
  }
  
  h2 {
    margin-bottom: 2.2rem;
  }
  
  p {
    margin-bottom: 12.2vh;
  }
  
  ul {
    @extend %auto_side_margin;
    gap: 35px;
  }
  
  li {
    @extend %no_select;

    a {
      padding: 6px;
      border-radius: 7px;
      font-weight: bold;
      letter-spacing: .6px;
      background-color: unset;
      transition: background-color 1s ease-out;
      
      &:hover {
        text-decoration: none;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .05);
        background-color: #687a8642;
        transition: background-color .7s ease;
      }
    }
  }
}
