#home {
  #inner {
    padding: 100px;
    box-shadow: none;
    background: unset;
    justify-content: center;
  }
  
  h1 {
    margin-bottom: 1.1rem;
  }
  
  p {
    margin-bottom: 0;
  }

  ul {
    @extend %auto_side_margin;
    
    gap: 35px;
    margin-top: 12.2vh;
  }
  
  li {
    @extend %no_select;
    
    list-style-type: '─';
    padding-inline-start: 14px;

    a {
      padding: 6px;
      border-radius: 7px;
      font-weight: bold;
      letter-spacing: .6px;
      background-color: unset;
      transition: background-color 1s ease-out;
      
      &:hover {
        text-decoration: none;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .05);
        background-color: #687a8642;
        transition: background-color 0.7s ease;
      }
    }
  }
}
