{% include variables.liquid %}

<!doctype html>
<html class="theme-{{ theme }}" id="{{ id }}" lang="de-DE">
  <head prefix="og: http://ogp.me/ns#">
    {% include head.liquid %}
  </head>
  <body>
    {{ content }}
  </body>
</html>
