{% include variables.liquid %}

<!doctype html>
<html lang="de_DE">
  {% include_cached cache/head.liquid title=title path=page.url description=description %}
  <body>
    {{ content }}
  </body>
</html>
