{% include variables.liquid %}

<!doctype html>
<html class="theme-{{ theme }}" id="{{ id }}" lang="de-DE">
  {% include_cached cache/head.liquid title=title path=page.url description=description %}
  <body>
    {{ content }}
  </body>
</html>
