{% include variables.liquid %}

<!doctype html>
<html lang="de-DE">
  {% include_cached cache/head.liquid title=title path=page.url description=description %}
  <body id="{{ page.id | replace: '/', '-' }}">
    {{ content }}
  </body>
</html>
